name: Docker Image CI          # â† workflow name

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: >
          docker build
          -f 'unified monitor/Dockerfile'
          -t yjani204/unified-monitoring:${{ github.sha }}
          'unified monitor'
